
/* ******* RESPONSIVE NAV *********************************** */

@media screen and (max-width: 1200px){
    #desktop-nav{
        display: none;
    }
    
    #hamburger-nav{
        display: flex;
    }

    .skill{
      position: absolute;
      bottom: -70px;
      left: -60px;
      display: flex;
      width:25rem;
      height: 25rem;
  }

    #experience, .experience-details-container{
      margin-top: 2rem;
    }

    .text2{
      margin-top: 6rem;
    }

    #profile, .section-container{
      display: block;
    }

    .arrow{
      display: none;
    }

    section, .section-container{
      height: fit-content;
    }

    section{
      margin: 0 5%;
    }

    .section__pic-container{
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }

    .about-containers{
      margin-top: 0;
    }

    .logo {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1rem;
        font-family: "Rock Salt", cursive;
        letter-spacing: 0.8rem;
    }
    
    .logo sub{
        font-family: "Poppins", sans-serif;
        letter-spacing: 0.3rem;
        font-size: 0.6rem;
        margin-left: -8px;
    } 
}


@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #contact,
    #projects {
      height: fit-content;
    }
  }


  @media screen and (max-width: 600px) {
    #contact{
      height: 40vh;
    }

    footer{
      height: 10vh;
    }

    #hamburger-nav{
      height: 10vh;
    }

    .text2{
      margin-top: 3rem;
    }

    #profile {
      height: 83vh;
      margin-bottom: 0;
      margin-top: 2rem;
    }

    .skill{
      position: absolute;
      bottom: -40px;
      left: 17px;
      display: flex;
      width: 16rem;
      height: 16rem;
  }

  .logo img{
    margin-top: 15px;
    z-index: 1;
  }
  

    article {
      font-size: 1rem;
    }

    footer nav {
      display: none;
      height: fit-content;
    }

    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }

    .contact-info-container {
      margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
    .experience-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section__pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }
  }

